language: python
python:
  - "2.7"
env:
  - DJANGO=1.10
install:
  - pip install -q Django==$DJANGO --use-mirrors
  - pip install coveralls
script:
  - coverage run --source=your_app setup.py test
after_success:
  - coveralls
